{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
    <div class="bg-dark m-b-30">
        <div class="container">
            <div class="row p-b-60 p-t-60">

                <div class="col-md-9 text-white p-b-30">
                    <div class="media">
                        <div class="avatar avatar mr-3">
                            <div class="avatar-title bg-success rounded-circle mdi mdi-receipt  ">

                            </div>
                        </div>
                        <div class="media-body">
                            <h4 class="mb-0">
                                Cart Products
                            </h4>
                            <button class="btn btn-white-translucent" id="printDiv">
                                <i class="mdi mdi-printer"></i>
                                Print
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 text-center m-b-30 ml-auto">
                    <div class="rounded text-white bg-white-translucent">
                        <div class="p-all-15">
                            <div class="row">
                                <div class="col-md-12 my-2 m-md-0">
                                    <div class="text-overline opacity-75">Total Price</div>
                                    <h3 class="m-0 text-danger">
                                        {{ total_price|format_currency('VND') }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="pull-up">
        <div class="container" id="printableArea">
            <div class="row"  >
                <div class="col-md-12 m-b-40">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <address class="m-t-10">
                                        To,<br>
                                        <span class="h4 font-primary">
                                            {{ app.user.fullName }}
                                        </span> <br>
                                        {{ app.user.address }}<br>
                                    </address>
                                </div>
                                <div class="col-md-6 text-right my-auto">
                                    <h1 class="font-primary">CART</h1>
                                    <div class="">Date: {{ date }}</div>
                                </div>
                            </div>

                            <div class="table-responsive ">
                                <table class="table m-t-50">
                                    <thead>
                                        <tr>
                                            <th class="">Product</th>
                                            <th class="text-center">Price</th>
                                            <th class="text-center">Qty</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% set cart = app.session.get('cart', []) %}
                                    {% for product in cart %}
                                        <tr>
                                            <td class="">
                                                <p class="text-black m-0">{{ product.name }}</p>
                                            </td>
                                            <td class="text-center">{{ product.price|format_currency('VND') }}</td>
                                            <td class="text-center">{{ product.counter }}</td>
                                            <td class="text-right">{{ (product.price * product.counter)|format_currency('VND') }}</td>
                                        </tr>
                                    {% endfor %}

                                    <tr class="bg-light">
                                        <td colspan="3" class="text-right">
                                            Total
                                        </td>
                                        <td colspan="2" class="text-right">
                                            {{ total_price|format_currency('VND') }}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="p-t-10 p-b-20">
                                <hr>
                                <form action="#" method="POST">
                                    <button class="btn btn-primary" name="order" value="confirmed">
                                        Place Order
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
